@import url("https://fonts.cdnfonts.com/css/montserrat");

/* @import url('https://fonts.cdnfonts.com/css/montserrat'); */

@font-face {
    font-family: Montserrat-ExtraBold;
    src: url(../letras/montserrat/Montserrat-ExtraBold.otf);
}

@font-face {
    font-family: Montserrat-Medium;
    src: url(../letras/montserrat/Montserrat-Medium.otf);
}

@font-face {
    font-family: Montserrat-Regular;
    src: url(../letras/montserrat/Montserrat-Regular.otf);
}

@font-face {
    font-family: ArnoPro-Caption;
    src: url(../letras/arno-pro/ArnoPro-Caption.otf);
}

.header-area {
    background-color: transparent !important;
    left: 0;
    right: 0;
    z-index: 100;
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
    height: 110px !important;
    position: absolute !important;
    z-index: 7;
    padding-right: 25px !important;
    width: 100% !important;
    display: flex !important;
    justify-content: right !important;
}


.header-area .main-nav {
    background: transparent;
}

.header-area .main-nav .nav {
    float: right;
    margin-top: 35px;
    margin-right: 0px;
    background-color: transparent;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: relative;
    z-index: 999;
    /* background-color: #164A9A; */
}

.header-area .main-nav .nav li {
    padding-left: 15px;
    padding-right: 15px;
}

.header-area .main-nav .nav li:last-child {
    padding-right: 0px;
}

.header-area .main-nav .nav li a {
    display: block;
    font-size: 14px;
    font-family: Montserrat-Medium;
    color: #FFF;
    text-transform: uppercase;
    /* color: #FCAF17; */
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    height: 40px;
    line-height: 40px;
    border: transparent;
    letter-spacing: 1px;
    background-color: transparent;
}

.header-area .main-nav .nav li:hover a {
    color: #FCAF17!important;
    
}

.header-area .main-nav .nav li a.active {
    color: #FCAF17!important;
}

.header-area .main-nav .nav li.has-sub {
    position: relative;
    padding-right: 15px;
}

.header-area .main-nav .nav li.has-sub:after {
    font-family: FontAwesome;
    content: "\f107";
    font-size: 12px;
    color: #fff;
    position: absolute;
    right: 5px;
    top: 12px;
}

.header-area .main-nav .nav li.has-sub ul.sub-menu {
    position: absolute;
    width: 200px;
    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
    overflow: hidden;
    top: 40px;
    opacity: 0;
    transition: all .3s;
    transform: translateY(+2em);
    visibility: hidden;
    z-index: -1;
}

.header-area .main-nav .nav li.has-sub ul.sub-menu li {
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.header-area .main-nav .nav li.has-sub ul.sub-menu li a {
    opacity: 1;
    display: block;
    background: #f7f7f7;
    color: #2a2a2a!important;
    padding-left: 20px;
    height: 40px;
    line-height: 40px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: relative;
    font-size: 13px;
    font-weight: 400;
    border-bottom: 1px solid #eee;
}

/* .header-area .main-nav .nav li.has-sub ul li a:hover {
    background: #fff;
    color: #aa4b9a!important;
    padding-left: 25px;
} */

.header-area .main-nav .nav li.has-sub ul li a:hover:before {
    width: 3px;
}

.header-area .main-nav .nav li.has-sub:hover ul.sub-menu {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
}

.header-area .main-nav .menu-trigger {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 40px;
    width: 32px;
    height: 40px;
    text-indent: -9999em;
    z-index: 99;
    right: 40px;
    display: none;
}

.header-area .main-nav .menu-trigger span,
.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    background-color: #fff;
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    left: 0;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    background-color: #fff;
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    left: 0;
    width: 75%;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
    content: "";
}

.header-area .main-nav .menu-trigger span {
    top: 16px;
}

.header-area .main-nav .menu-trigger span:before {
    -moz-transform-origin: 33% 100%;
    -ms-transform-origin: 33% 100%;
    -webkit-transform-origin: 33% 100%;
    transform-origin: 33% 100%;
    top: -10px;
    z-index: 10;
}

.header-area .main-nav .menu-trigger span:after {
    -moz-transform-origin: 33% 0;
    -ms-transform-origin: 33% 0;
    -webkit-transform-origin: 33% 0;
    transform-origin: 33% 0;
    top: 10px;
}

.header-area .main-nav .menu-trigger.active span,
.header-area .main-nav .menu-trigger.active span:before,
.header-area .main-nav .menu-trigger.active span:after {
    background-color: transparent;
    width: 100%;
}

.header-area .main-nav .menu-trigger.active span:before {
    -moz-transform: translateY(6px) translateX(1px) rotate(45deg);
    -ms-transform: translateY(6px) translateX(1px) rotate(45deg);
    -webkit-transform: translateY(6px) translateX(1px) rotate(45deg);
    transform: translateY(6px) translateX(1px) rotate(45deg);
    background-color: #fff;
}

.header-area .main-nav .menu-trigger.active span:after {
    -moz-transform: translateY(-6px) translateX(1px) rotate(-45deg);
    -ms-transform: translateY(-6px) translateX(1px) rotate(-45deg);
    -webkit-transform: translateY(-6px) translateX(1px) rotate(-45deg);
    transform: translateY(-6px) translateX(1px) rotate(-45deg);
    background-color: #fff;
}

.header-area.header-sticky {
    min-height: 80px;
}

.header-area .nav {
    margin-top: 30px;
}

.header-area.header-sticky .nav li a.active {
    color: #AA914B;
}

@media (max-width: 1610px) {
   
    .header-area .main-nav .nav li {
        padding-left: 5px;
    padding-right: 5px;
    }
}

@media (max-width: 1390px) {
   
    .header-area .main-nav .nav li a {
        font-size: 13PX !important;
    }
    .header-area .main-nav .nav li {
        padding-left: 2px;
    padding-right: 2px;
    }
}

@media (max-width: 1245px) {
   
    .header-area .main-nav .nav li a {
        font-size: 11px !important;
        padding: 10px 5px !important;
    }
    .header-area .main-nav .nav li {
        padding-left: 0px !important;
    padding-right: 0px !important;
    }
   
   
}










@media (max-width: 1200px) {
    .header-area .main-nav .nav li {
        padding-left: 7px;
        padding-right: 7px;
    }
    .header-area .main-nav:before {
        display: none;
    }
}










/* CUANDO EL MENU SE OCULTA */

@media (max-width: 767px) {
    .header-area {
       
        
        display: flex !important;
        justify-content: center !important;
    }
    .header-area .row{
        /* background-color: aqua; */
        width: 450px;
    }
    .header-area .main-nav .nav li a {
        font-size: 14px !important;
    }
    .header-area.header-sticky .nav li a:hover,
    .header-area.header-sticky .nav li a.active {
        color: #FCAF17!important;
        opacity: 1;
    }
    .header-area.header-sticky .nav li.search-icon a {
        width: 100%;
    }

    .header-area {
        top: 0px !important;
        background-color: #164A9A !important;
        padding: 0px 10px;
        box-shadow: none;
        text-align: center;
        height: 110px !important;
        margin-right: 0px !important;
    }
 

    .header-area .container {
        padding: 0px;
    }
    .header-area .logo {
        margin-left: 30px;
    }
    .header-area .logo2 {
        margin-left: 30px;
    }
    .header-area .menu-trigger {
        display: block !important;
    }
    .header-area .main-nav {
        overflow: hidden;
    }
    .header-area .main-nav .nav {
        float: none;
        width: 100%;
        display: none;
        -webkit-transition: all 0s ease 0s;
        -moz-transition: all 0s ease 0s;
        -o-transition: all 0s ease 0s;
        transition: all 0s ease 0s;
        margin-left: 0px;
    }
    .header-area .main-nav .nav li:first-child {
        border-top: 1px solid #eee;
    }
    .header-area.header-sticky .nav {
        margin-top: 110px !important;
    }
    .header-area .main-nav .nav li {
        width: 100%;
        background: #fff;
        border-bottom: 1px solid #eee;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .header-area .main-nav .nav li a {
        height: 50px !important;
        line-height: 50px !important;
        padding: 0px !important;
        border: none !important;
        background: #fff !important;
        color: #2D366F !important;
    }
    .header-area .main-nav .nav li a:hover {
        background: #eee !important;
        color: #FCAF17!important;
    }
    .header-area .main-nav .nav li.has-sub ul.sub-menu {
        position: relative;
        visibility: inherit;
        opacity: 1;
        z-index: 1;
        transform: translateY(0%);
        top: 0px;
        width: 100%;
        box-shadow: none;
        height: 0px;
        transition: all 0s;
    }
    .header-area .main-nav .nav li.submenu ul li a {
        font-size: 12px;
        font-weight: 400;
    }
    .header-area .main-nav .nav li.submenu ul li a:hover:before {
        width: 0px;
    }
    .header-area .main-nav .nav li.has-sub ul.sub-menu {
        height: auto;
    }
    .header-area .main-nav .nav li.has-sub:after {
        right: 30px;
        font-size: 14px;
        top: 15px;
    }
    .header-area .main-nav .nav li.submenu:hover ul,
    .header-area .main-nav .nav li.submenu:focus ul {
        height: 0px;
    }
}

@media (min-width: 767px) {
    .header-area .main-nav .nav {
        display: flex !important;
    }
}

.main-nav .nav a i.bi,
.main-nav .nav a i.bi:focus,
.main-nav .nav a:focus i.bi {
    font-size: 1.3em;
    margin-right: 5px !important;
}






@media (max-width: 550px) {
    .header-area .row{
        /* background-color: aqua; */
        width: 350px !important;
    }
}



@media (max-width: 400px) {
    .header-area .row{
        /* background-color: aqua; */
        width: 250px !important;
    }
}























/* CAMBIO MENU PARTE INFERIOR */

.background-header {
    /* background-color: #fff!important; */
    background-color: #2d4894 !important;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    position: fixed!important;
    top: 0!important;
    height: 110px !important;
    padding-bottom: 10px!important;
    left: 0;
    right: 0;
    padding-right: 0px !important;
    display: flex !important; 
    justify-content: center !important;
    /* justify-items: center !important; */
    /* border-bottom: 3px solid #AA914B; */
}



/* @media (max-width: 993px) {
    .background-header .main-nav .logo2 .edvi{
      display: none !important;
    }
  }  */

/* .background-header .main-nav .nav li a {
    color: #1e1e1e!important;
} */

.background-header .logo,
.background-header .main-nav .nav li a {
    /* color: #2D366F!important; */
    font-family: Montserrat-Medium;
    /* font-size: 20px !important;  */
    /* font-weight: 800; */
}

@media (max-width: 767px) {
    .background-header .main-nav .nav {
        margin-top: 110px !important;
    }
    .background-header .main-nav .nav li a {
        background-color: #1e89e6;
        color: #2D366F!important;
    }
    .background-header .main-nav .logo2 .edvi {
        display: inline-block !important;
        color: #2D366F;
    }
    .background-header .main-nav .logo .upt,
    .background-header .main-nav .logo .edvi {
        display: none;
    }
}


@media (max-width: 991px) {
    .background-header .main-nav .logo2 .edvi {
        display: none !important;
    }
}



@media (max-width: 767px) {
    .background-header .main-nav .logo2 .edvi {
        display: block !important;
    }
}

@media (max-width: 700px) {
    .background-header .main-nav .logo2 .upt {
        display: none !important;
    }
}

@media (max-width: 260px) {
    .background-header .main-nav .logo2 .edvi {
        display: none !important;
    }
}

@media (max-width: 1400px) {
    .background-header .logo,
    .background-header .main-nav .nav li a {
        font-size: 14px !important;
    }
}

@media (max-width: 1200px) {
    .background-header .logo,
    .background-header .main-nav .nav li a {
        font-size: 13px !important;
    }
}

.background-header .main-nav .nav li:hover a {
    color: #fb49c0!important;
}

.background-header .nav li a.active {
    color: #fb49c0!important;
}

.background-header .main-nav .logo {
    line-height: 75px;
}

.background-header .main-nav .nav li:hover a,
.background-header .main-nav .nav li a.active {
    color: #FCAF17!important;
    /* opacity: 1; */
}

.background-header .main-nav .nav li.has-sub:after {
    color: #1e1e1e;
}

.background-header .main-nav .menu-trigger {
    top: 35px;
}

@media (max-width: 700px) {
    .background-header .main-nav .menu-trigger {
        top: 40px;
    }
}

.background-header .main-nav .menu-trigger span,
.background-header .main-nav .menu-trigger span:before,
.background-header .main-nav .menu-trigger span:after {
    background-color: #FFF;
}

.background-header .main-nav .menu-trigger span:before,
.background-header .main-nav .menu-trigger span:after {
    background-color: #FFF;
}

.background-header .main-nav .menu-trigger.active span:before {
    background-color: #FFF;
}

.background-header .main-nav .menu-trigger.active span:after {
    background-color: #FFF;
}