/*css*/

@font-face {
    font-family: Montserrat-Bold;
    src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: Montserrat-ExtraBold;
    src: url(../fonts/Montserrat-ExtraBold.ttf);
}

@font-face {
    font-family: Montserrat-Light;
    src: url(../fonts/Montserrat-Light.ttf);
}

@font-face {
    font-family: Montserrat-ExtraLight;
    src: url(../fonts/Montserrat-ExtraLight.ttf);
}

@font-face {
    font-family: Montserrat-Medium;
    src: url(../fonts/Montserrat-Medium.ttf);
}

@font-face {
    font-family: Montserrat-Regular;
    src: url(../fonts/Montserrat-Regular.ttf);
}

*{
    padding: 0;
    margin: 0;
}

*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}
body{
	font-family: 'Montserrat', sans-serif;
	font-size:14px;
	color:#a09e9c;
    text-transform:initial;
    max-width:1920px;
    margin:0 auto;
	overflow-x:hidden;
    padding-top: 0 !important;
}

a,a:hover,a:active,a:focus {
	display:inline-block;
	text-decoration:none;
	color: #343a3f;
	font-size:16px;
	padding:0;
    font-weight: 500;
    
}

h2 {
    text-align: center;
    color: #2D366F;
    font-family: Montserrat-ExtraBold;
    font-size: 55px;
}

p{
    text-align: center;
    color: #2D366F;
    font-family: Montserrat-Bold;
    font-size: 20px;
    margin-top: 8px;
}

h3{ 
	margin: 0;
	color:#2D366F;
    font-size: 18px;
    font-weight: 900;
}

.capa_h4{ 
	margin: 0;
	color:#2D366F;
    font-size: 18px;
    font-weight: 900;
    position: absolute;
    top: 63px;
}

img{border:none;max-width:100%; height:auto;}

ul{
	padding: 0;
    margin: 0 auto;
    list-style: none;
}

ul li {
	list-style: none;	
}

select,input,textarea,button{box-shadow:none;outline:0!important;}
button {background: transparent;border: 0;font-size: 12px;}

html,body{height: 100%;}

[placeholder]:focus::-webkit-input-placeholder {
  -webkit-transition: opacity 0.3s 0.3s ease; 
  -moz-transition: opacity 0.3s 0.3s ease; 
  -ms-transition: opacity 0.3s 0.3s ease; 
  -o-transition: opacity 0.3s 0.3s ease; 
  transition: opacity 0.3s 0.3s ease; 
  opacity: 0;
}

/* section-header */
.section-header{
    position: relative;
    text-align: center;

}

.fix{position: relative;clear: both;}

/*=============Style css=========*/

/*-------------------------------------
        3. Top-area
--------------------------------------*/

.welcome-hero {
    position: relative;    
    background-position:center;
    background-size:cover;
    text-align: center;
    height:799px;
    z-index: 1;
 
}
.welcome-hero:before{
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;   
    
    /*background:rgba(65,73,89,.65);*/
    z-index: -1;
}
.welcome-hero-txt { padding-top: 155px;}

.home {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    height: 100%;
    background: none;
    box-shadow: none;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    overflow: hidden;
    position: relative;
}

.home > .first {
    background: linear-gradient(to left, #f3f4ff, #eff2ff);
    width: 50%;
    justify-content: flex-end;
    align-items: center;
}

.home > .second {
    /*background: linear-gradient(160deg, #2c51a8, #2c58b5,  #2d4691);*/
    background: url('../images/fondo/barrita1.webp');
    width: 50%;
    justify-content: flex-end;
    align-items: center;
}

.imagen1 {
    position: absolute;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    z-index: 0;
    top: 0%;
    width: 100%;
}

.imagen2 {
    position: absolute;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    z-index: 0;
    top: 18%;
    width: 150%;
}

.imagen2 > .tamanio {
    width: 600px;
    height: 600px;
}

.imagen2 > .tamanio > img{
    width: 100%;
    height: 100%;
}

.menu {
    position: absolute;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    z-index: 25;
    top: 0%;
    width: 70%;
    /* background-color: #f3f4ff; */
   
}

.informacion {
    width: 40%;
    height: 70%;
    background: none;
    box-shadow: none;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    overflow: hidden;
    position: absolute;
    display: flex !important;
    justify-content: left !important;
    z-index: 0;
    top: 20%;
    left: 10%;
}

.informacion > .logo {
    width: 100%;
    height: 25%;
}

.informacion > .logo > img {
    width: 200px;
    margin-right: 500px;
}

.informacion > .texto {
    width: 100%;
    height: 200px;
}

.informacion > .texto > h3 {
    text-align: justify;
    color: #2D366F;
    font-family: Montserrat-ExtraBold;
    font-size: 35px;
    margin-top: 8px !important;
    margin-bottom: 8px !important;
}

.informacion > .texto > p {
    width: 100%;
    text-align: left;
    color: #2D366F;
    font-family: Montserrat-Bold;
    font-size: 15px;
    margin-top: 8px !important;
    margin-bottom: 8px !important;
}

.informacion > .avisos1 {
    width: 100%;
    height: 15%;
    display: flex;
}

.informacion > .avisos1 > .aviso1_1 {
    width: 50%;
    height: 100%;
    display: flex;
}

.informacion > .avisos1 > .aviso1_1 > .icono{
    width: 30%;
    height: 100%;
    display: flex !important;
    align-items: center !important;
}

.informacion > .avisos1 > .aviso1_1 > .icono > div {
    width: 100%;
}

.informacion > .avisos1 > .aviso1_1 > .icono > div > img{
    width: 40%;
}

.informacion > .avisos1 > .aviso1_1 > .texto{
    text-align: left;
    width: 100%;
    height: 100%;
    display: flex !important;
    align-items: center !important;
}

.informacion > .avisos1 > .aviso1_1 > .texto > div > h3 {
    width: 100%;
    text-align: left;
    color: #2D366F;
    font-family: Montserrat-Regular;
    font-size: 13px;
    margin-top: 8px !important;
    margin-bottom: 8px !important;
}

.informacion > .avisos1 > .aviso1_2 {
    width: 50%;
    height: 100%;
    display: flex;
}

.informacion > .avisos1 > .aviso1_2 > .icono{
    width: 30%;
    height: 100%;
    display: flex !important;
    align-items: center !important;
}

.informacion > .avisos1 > .aviso1_2 > .icono > div {
    width: 100%;
}

.informacion > .avisos1 > .aviso1_2 > .icono > div > img{
    width: 40%;
}

.informacion > .avisos1 > .aviso1_2 > .texto{
    text-align: left;
    width: 100%;
    height: 100%;
    display: flex !important;
    align-items: center !important;
}

.informacion > .avisos1 > .aviso1_2 > .texto > div > h3 {
    width: 100%;
    text-align: left;
    color: #2D366F;
    font-family: Montserrat-Regular;
    font-size: 13px;
    margin-top: 8px !important;
    margin-bottom: 8px !important;
}

.informacion > .avisos2 {
    width: 100%;
    height: 15%;
}

.informacion > .avisos2 > .aviso2_1 {
    width: 50%;
    height: 100%;
    margin-left: 25%;
    margin-right: 25%;
    display: flex;
}

.informacion > .avisos2 > .aviso2_1 > .icono{
    width: 30%;
    height: 100%;
    display: flex !important;
    align-items: center !important;
}

.informacion > .avisos1 > .aviso2_1 > .icono > div {
    width: 100%;
}

.informacion > .avisos2 > .aviso2_1 > .icono > div > img{
    width: 40%;
}

.informacion > .avisos2 > .aviso2_1 > .texto{
    text-align: left;
    width: 100%;
    height: 100%;
    display: flex !important;
    align-items: center !important;
}

.informacion > .avisos2 > .aviso2_1 > .texto > div > h3 {
    width: 100%;
    text-align: left;
    color: #2D366F;
    font-family: Montserrat-Regular;
    font-size: 13px;
    margin-top: 8px !important;
    margin-bottom: 8px !important;
}

nav.navbar.bootsnav{
    background-color: transparent !important;
    border-bottom: transparent;
}

.navbar-default {
    background-color: transparent !important;

}

.wrap-sticky nav.navbar.bootsnav.sticked {
    background-color: #2d4894 !important;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    
}


/*.navbar-brand*/
.navbar-header a.navbar-brand,.navbar-header a.navbar-brand:hover,.navbar-header a.navbar-brand:focus {
    display: inline-block;
    color: #1b1e20;
    font-size: 20px;
    font-weight: 700;
    padding: 34px 0px;
    
}
.navbar-header a.navbar-brand span{display: inline-block;color:#ff545a;}

.wrap-sticky nav.navbar.bootsnav.sticked .navbar-header a.navbar-brand,.wrap-sticky nav.navbar.bootsnav.sticked .navbar-header a.navbar-brand:hover,.wrap-sticky nav.navbar.bootsnav.sticked .navbar-header a.navbar-brand:focus {padding:30px 0px;}
/*.navbar-brand*/

/*.nav li*/
nav.navbar.bootsnav ul.nav > li > a {
    /*color: #859098;*/
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    text-transform:uppercase;
    -webkit-transition: 0.3s linear; 
    -moz-transition: 0.3s linear; 
    -ms-transition: 0.3s linear; 
    -o-transition: 0.3s linear; 
    transition: 0.3s linear;
}
nav.navbar.bootsnav ul.nav > li > a {padding:34px 21px;}
nav.navbar.bootsnav ul.nav > li > a:hover,nav.navbar.bootsnav ul.nav > li > a:focus{color: #FCAF17;}
nav.navbar.bootsnav ul.nav > li.active>a {color: #FCAF17;}

nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle:after {
    content: "";
}
nav.navbar.bootsnav ul.nav > li.dropdown span {
    font-size: 8px;
    margin-left: 15px;
}
.wrap-sticky nav.navbar.bootsnav.sticked ul.nav > li > a{
    padding:34px 21px;}
/*.nav li*/

/*.menu-ui-design*/
.menu-ui-design{overflow-y:scroll;height: 350px;}
.menu-ui-design::-webkit-scrollbar {
    width:5px;
}
.menu-ui-design::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 8px #000;
}
.menu-ui-design::-webkit-scrollbar-thumb {
  background-color: #ff545a;
}
/*.menu-ui-design*/

/*.navbar-toggle */
nav.navbar.bootsnav .navbar-toggle {
    position: relative;
    background-color: transparent;
    border: 1px solid #ff545a;
    padding: 10px;
    top: 0;
}
nav.navbar.bootsnav .navbar-toggle i{color: #ff545a;}
/*.navbar-toggle */

/*-------------------------------------
        4.  Welcome-hero
--------------------------------------*/


.welcome-hero-serch-box{margin-top: 78px;display: flex;}
.welcome-hero-form {
    display: flex;
    background: #fff;
    height: 70px;
    border-radius: 3px;
    width: 85%;
}
.single-welcome-hero-form {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    padding: 0 30px;
}
.single-welcome-hero-form:first-child{border-right: 1px solid #edeff1;}
.single-welcome-hero-form input {
    margin-left: 10px;
    height: 70px;
    width: 300px;
    border: 0;
    background: transparent;
}
.single-welcome-hero-form input[type="text"]{
    font-size: 14px;
    color: #859098;
    font-weight: 500;
}
.welcome-hero-form-icon {
    position: absolute;
    top: 20px;
    right: 30px;
    color: #252d32;
}
.welcome-hero-btn {
    display:  flex;
    justify-content:  center;
    align-items:  center;
    font-size:  14px;
    color:  #fff;
    width:  170px;
    height:  70px;
    background:  #ff545a;
    text-transform:  capitalize;
    margin-left:  30px;
    border-radius: 3px;
    -webkit-transition: 0.3s linear; 
    -moz-transition: 0.3s linear; 
    -ms-transition: 0.3s linear; 
    -o-transition: 0.3s linear; 
    transition: 0.3s linear;
}
.welcome-hero-btn:hover{/*background: #fd4043;*/background: #f43032;}

.welcome-hero-btn svg {
    width:  14px;
    height:  auto;
    margin-left:  12px;
}

/*-------------------------------------
        nosotros
--------------------------------------*/

.nosotros {
    padding:30px 0 30px;
    background-color: #f1f2f2;
    box-shadow: 1px 5px 5px #979797;
}

.nosotros > .container {
    width: 1370px;
}

.nosotros-content {
    margin-top: 30px;
    margin-bottom: 30px;
    height: 100%; 
    background: none;
    box-shadow: none;
    flex-direction: row;    
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    overflow: hidden;
    border-radius: 20px;
    background-color: #fff;
}

.nosotros-content > .left {
    width: 40%;
	justify-content: flex-end;
	align-items: center;
}

.nosotros-content > .right {
    width: 60%;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
}

.nosotros-content > .left > .tab-nosotros {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 25px;
    padding-right: 25px;
    list-style: none;
    border-radius: 0px 12px 12px 0px;
    position: relative;
    width: 80%;
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}

.nosotros-content > .left > .tab-nosotros > .option {
    display: block;
    cursor: pointer;
    background: #17569B;
    padding: 15px 12%;
    border-radius: 12px;
    color: #fff;
    font-size: 18px;
    margin-bottom: 20px;
    font-family: Montserrat-Medium;
    position: relative;
}

.option-active{
    display: block;
    cursor: pointer;
    background-color: #FCAF17!important;
    padding: 15px 12%;
    border-radius: 12px;
    color: #fff;
    font-size: 18px;
    margin-bottom: 20px;
    font-family: Montserrat-Medium;
    position: relative; 
}

.nosotros-content > .left > .tab-nosotros > .option:hover {
    background-color: #FCAF17!important;
    color: #fff;
}

.nosotros-content > .right > .nosotros-box {
    padding: 20px;
    height: 100%;
}

.nosotros-content > .right > .nosotros-box > .inside {
    padding-top: 20px;
    padding-bottom: 20px;
    height: 100%;
}

.nosotros-content > .left > .tab-nosotros > .option.selected {
    background-color: #FCAF17 !important;
    color: white; /* Cambia el color del texto si lo necesitas */
}

.titulo-nosotros {
    text-transform: uppercase;
    color: #2D366F;
    font-family: Montserrat-ExtraBold;
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.parrafo-nosotros {
    color: #2D366F;
    font-family: Montserrat-Medium;
    font-size: 16px;
    margin-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify !important;
    letter-spacing: 1px;
    padding-bottom: 20px !important;
}


/*organigrama*/

.org_h2 {
    -webkit-font-smoothing: antialiased;
    color: #464646;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Roboto-Regular";
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    width: 100%;
    text-align: center;
    margin-bottom: 8px;
    font-family: Montserrat-Me;
}

.org_h3 {
    -webkit-font-smoothing: antialiased;
    color: #2D366F;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Roboto-Regular";
    font-weight: 100;
    font-size: 14px;
    line-height: 16px;
    width: 100%;
    text-align: center;
    font-family: Montserrat-Regular;
}

.org_mas {
    transition: background-color 0.3s;
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #2D366F;
    border-radius: 100px;
    background-image: url(../images/ICONOS/mas.png);
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: center center;
    right: -9px;
    top: -9px;
    z-index: 1;
}

.org_organigrama {
    position: relative;
    width: 100%;
    height: 100%;
    float: left;
}

.org_fila {
    position: relative;
    float: left;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.org_columna {
    position: relative;
    flex-basis: 40%;
}

.org_tar {
    position: relative;
    float: left;
    background-color: #F2F2F2;
    border-radius: 8px;
    padding: 10px;
    width: 80%;
    transition: all .3s;
}

.org_des {
    opacity: 0;
    pointer-events: none;
}

.org_des:nth-child(2) {
    opacity: 1;
    pointer-events: none;
}

.org_des:nth-child(2) .org_d1 {
    border-bottom: none!important;
}

.org_des:nth-child(2) .org_tar {
    opacity: 0;
}


/* UNA COLUMNAS */

.org_1col .org_tar {
    left: 10%;
}

.org_1col:nth-child(1) .org_d1 {
    display: none;
}

.org_1col .org_d1 {
    border-right: 2px solid #DDDDDD;
    height: 10px;
    width: calc(50% + 2px);
    top: -10px;
    position: absolute;
}

.org_1col .org_i2 {
    border-right: 2px solid #DDDDDD;
    height: 10px;
    width: calc(50.1% + 2px);
    bottom: -10px;
    position: absolute;
}

.org_1col .org_h2 {
    font-size: 20px;
}


/* DOS COLUMNAS */

.org_2col .org_d1,
.org_2col .org_i1 {
    position: relative;
    float: left;
    width: 10%;
    height: calc(50% + 10px);
    top: -10px;
}

.org_2col .org_d2 {
    position: absolute;
    width: 10%;
    height: calc(50% + 10px);
    top: 50%;
    left: 0;
}

.org_2col .org_i2 {
    position: absolute;
    width: 10%;
    height: calc(50% + 10px);
    top: 50%;
    right: 0;
}

.org_2col .org_columna:nth-child(1) .org_i1 {
    border-bottom: 2px solid #DDDDDD;
}

.org_2col .org_columna:nth-child(2) .org_d1 {
    border-bottom: 2px solid #DDDDDD;
    border-left: 2px solid #DDDDDD;
}

.org_2col .org_columna:nth-child(2) .org_d2 {
    border-left: 2px solid #DDDDDD;
}


/* FILA BAJA */

.org_bajo {
    top: 10px;
}

.org_bajo .org_d1,
.org_bajo .org_i1 {
    position: relative;
    float: left;
    width: 10%;
    height: calc(50% + 10px);
    top: -10px;
}

.org_bajo .org_tar {
    width: 96%;
    padding: 5px;
    margin-bottom: 10px;
}

.org_bajo .org_d1 {
    border-top: 2px solid #DDDDDD;
    height: 20px;
    width: calc(50% + 2px);
    top: -20px;
    position: absolute;
}

.org_bajo .org_i1 {
    border-top: 2px solid #DDDDDD;
    border-left: 2px solid #DDDDDD;
    width: 50%;
    position: absolute;
    top: -20px;
    height: 20px;
    right: 0;
}

.org_bajo .org_d2,
.org_bajo .org_i2 {
    width: 2%;
    height: 100%;
    float: left;
}

.org_bajo .org_columna:first-child .org_d1 {
    border-top: none;
}

.org_bajo .org_columna:last-child .org_i1 {
    border-top: none;
}

.org_bajo .org_h2 {
    font-size: 14px;
}

.org_bajo .org_h3 {
    font-size: 12px;
}

.org_bajo {
    width: calc(100% - 20px);
    left: 10px;
}

/*-------------------------------------
        aulas - capacitaciones
--------------------------------------*/
.aula-div {
    border: none;
    max-width: 100%;
    height: auto;
}

.aulas {
    /*background: #f8fafb;*/
    box-shadow: 1px 5px 5px #979797;
}

.aulas-col {
    width: 100%;
}

.container2 {
    width: 943px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.aulas-content1 {
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    z-index: 0;
}

.aulas-content1 ul li {
    display: inline-block;
}

.capacitaciones-content2 {
    margin-top: 40px;
    /*position: relative;*/
    z-index: 0;
}

.capacitaciones-content2 ul li {
    display: inline-block;
}

.single-aulas-content1 {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 205px;
    height: 60px;
    background: #eef2f6;
    border-radius: 20px;
    margin: 10px;
    box-shadow: 0 0px 10px rgba(71, 71, 71, .2);
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -ms-transition: .3s linear;
    -o-transition: .3s linear;
    transition: .3s linear;
}

.aula-izquierda {
    text-align: right;
    width: 30%;
}

.aula-derecha {
    padding-left: 20px;
    text-align: left;
    width: 70%;
}

.single-capacitaciones-content2,
.single-capacitaciones-content2Postgrado,
.single-capacitaciones-content2Idiomas {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 205px;
    height: 100px;
    background: #eef2f6;
    border-radius: 3px;
    margin: 10px;
    box-shadow: 0 0px 10px rgba(71, 71, 71, .2);
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -ms-transition: .3s linear;
    -o-transition: .3s linear;
    transition: .3s linear;
    position: relative;
}

.single-aulas-icon [class^="flaticon-"]:before, .single-aulas-icon [class*=" flaticon-"]:before, .single-aulas-icon [class^="flaticon-"]:after, .single-aulas-icon [class*=" flaticon-"]:after {
    font-size: 45px;
    color: #343a3f;
}

.single-aulas-content:hover .single-aulas-icon [class^="flaticon-"]:before, .single-aulas-content:hover .single-aulas-icon [class*=" flaticon-"]:before, .single-aulas-content:hover .single-aulas-icon [class^="flaticon-"]:after, .single-aulas-content:hover .single-aulas-icon [class*=" flaticon-"]:after {
    color: #fff;
}

.circle-capacitaciones,
.circle-capacitacionesPostgrado,
.circle-capacitacionesIdiomas {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: relative;
    bottom: 50px;
    border: 5px solid #fff;
    box-shadow: 0 0px 10px rgba(71, 71, 71, .2);
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.circle-capacitaciones {
    background: #2D366F;
}

.circle-capacitacionesPostgrado {
    background: #164A9A;
}

.circle-capacitacionesIdiomas {
    background: #007EBE;
}

.circle-capacitaciones .imagen_Circulo, .circle-capacitacionesPostgrado .imagen_Circulo, .circle-capacitacionesIdiomas .imagen_Circulo {
    position: absolute;
}

.circle-capacitaciones .imagen_Circulo img,
.circle-capacitacionesPostgrado .imagen_Circulo img,
.circle-capacitacionesIdiomas .imagen_Circulo img {
    width: 50px;
    height: 35px;
}

.custom-aula {
    width: 60px;
    /* Ancho del contenedor del ícono */
    height: 60px;
    /* Altura del contenedor del ícono */
    background-image: url('../images/icon/icon_moodle.webp');
    /* URL de la imagen */
    background-size: cover;
    /* Ajusta el tamaño de la imagen */
    background-position: center;
    /* Centra la imagen */
    border-radius: 50%;
    /* Hace que el contenedor sea circular */
    margin: 20px;
    /* Ajusta el margen para centrar el ícono */
}

.single-aulas-content1:hover h3 {
    color: #fff !important;
    font-weight: 1000;
}

.single-aulas-content1:hover {
    background: #2D366F;
    box-shadow: 0 5px 10px rgba(71, 71, 71, .4);
}

.single-aulas-content1:hover > .aula-izquierda > .ico-moodle1:before{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(150deg) brightness(105%) contrast(101%);
}

.single-capacitaciones-content2:hover h4 {
    color: #fff !important;
    font-weight: 1000;
}

.single-capacitaciones-content2:hover .circle-capacitaciones {
    background: #2D366F !important;
}

.single-capacitaciones-content2:hover {
    background: #2D366F;
    box-shadow: 0 5px 10px rgba(71, 71, 71, .4);
}

.single-capacitaciones-content2Postgrado:hover h4 {
    color: #fff !important;
    font-weight: 1000;
}

.single-capacitaciones-content2Postgrado:hover .circle-capacitaciones {
    background: #2D366F !important;
}

.single-capacitaciones-content2Postgrado:hover {
    background: #164A9A;
    box-shadow: 0 5px 10px rgba(71, 71, 71, .4);
}

.single-capacitaciones-content2Idiomas:hover h4 {
    color: #fff !important;
    font-weight: 1000;
}

.single-capacitaciones-content2Idiomas:hover .circle-capacitaciones {
    background: #2D366F !important;
}

.single-capacitaciones-content2Idiomas:hover {
    background: #007EBE;
    box-shadow: 0 5px 10px rgba(71, 71, 71, .4);
}

/*-------------------------------------
        6. Works 
--------------------------------------*/

.capacitaciones {
    padding-top: 50px;
    /*padding-bottom: 50px;*/
    box-shadow: 1px 5px 5px #979797;
}

.caja-texto {
    margin-top: 30px;
    margin-left: 25px;
    margin-right: 25px;
    height: 100%;
    background: none;
    box-shadow: none;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    overflow: hidden;
}

.caja-texto>.left {
    width: 50%;
    justify-content: flex-end;
    align-items: center;
}

.caja-texto>.left>h2 {
    text-align: justify;
    color: #2D366F;
    font-family: Montserrat-ExtraBold;
    font-size: 18px;
}

.caja-texto>.left>p {
    text-align: justify;
    color: #2D366F;
    font-family: Montserrat-Medium;
    font-size: 20px;
    /* line-height:  !important; */
}

.caja-texto>.left>ul {
    text-align: justify;
    line-height: 1.1 !important;
}

.caja-texto>.left>ul>li {
    list-style: inside;
    /* list-style-type: circle; */
    color: #2D366F;
    line-height: 2.5em;
    font-size: 20px;
    font-family: Montserrat-Medium;
}

.caja-texto .left .button a {
    margin-top: 20px !important;
    font-family: Montserrat-Medium;
    background-color: #2D366F;
    /* padding-left: 25px !important; */
    border-radius: 22px !important;
    letter-spacing: 1px;
    padding: 10px 15px !important;
    color: #FFF;
    font-size: 16px;
    padding: 5px 25px 5px 25px !important;
}

.caja-texto .left .button a:hover {
    background-color: #007EBE;
}

.caja-texto>.right {
    width: 50%;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    position: relative;
    padding-bottom: 150px;
}

.atras {
    width: 80%;
}

.atras>img {
    border-radius: 5px;
    margin-left: 110px;
}

.adelante {
    position: absolute;
    top: 152px;
    left: 1px;
    bottom: 0;
    width: 50%;
}

.adelante>img {
    border: 5px solid #fff;
    border-radius: 5px;
    box-shadow: 8px 8px 10px 0;
}

.welcome-hero-btn.how-capacitaciones-btn {
    display: inline-block;
    margin: 0;
    width: 100px;
    height: 35px;
    font-size: 12px;
    background: transparent;
    color: #767f86;
    border: 1px solid #d3d6d9;
    border-radius: 3px;
}


/*-------------------------------------
        7. soporte
--------------------------------------*/
.soporte{
    padding:30px 0 30px;
    background: #F1F2F2;
    box-shadow: 1px 5px 5px #979797;
} 

.container-soporte {
    margin-top: 30px;
    height: 100%; 
    background: none;
    box-shadow: none;
    flex-direction: row;    
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    overflow: hidden;
    border-radius: 20px;
}

.container-soporte > .left {
    width: 50%;
	justify-content: flex-end;
	align-items: center;
}

.container-soporte > .right {
    width: 50%;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
}

.imagenes {
    display: block;
}

.botones {
    margin-left: 10px;
    margin-right: 10px;
    display: block;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.soporte-content2 {
    position: relative;
    z-index: 0;
}

.father-soporte-boton-content{
    margin: 10px;
    padding: 1px;
    background-color: white;
    border-radius: 50px;
    width: 328px; /*355*/
    box-shadow: 0 0px 10px rgba(71,71,71,.2);
}

.soporte-circulo-content2{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 3px;
    height: 60px;
    background:#EAEEF4;
}

.soporte-boton-content2{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 305px;
    height: 60px;
    background:#EAEEF4;

    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;

    /*border: 5px solid #fff;*/
    margin: 10px;
    -webkit-transition: .3s linear; 
    -moz-transition:.3s linear; 
    -ms-transition:.3s linear; 
    -o-transition:.3s linear;
    transition: .3s linear;
}

.soporte-boton-content2:hover h3{ color: #fff!important; font-weight: 1000;}
.soporte-boton-content2:hover{
    background:#007EBE;
    box-shadow: 0 5px 10px rgba(71,71,71,.4);
}

/*-------------------------------------
        12. Footer
--------------------------------------*/
.footer {
    background-color: #2D366F;
}

.footer-menu {padding: 45px 0;}
.footer-menu .navbar-header{padding:0;}
.footer-menu .navbar-header a.navbar-brand,.footer-menu.footer-menu .navbar-header a.navbar-brand:hover,.footer-menu .navbar-header a.navbar-brand:focus{
    padding:0;
    height: 0;
}
.footer-menu ul.footer-menu-item{text-align: right;}
.footer-menu ul.footer-menu-item li{display: inline-block;}
.footer-menu ul.footer-menu-item li a {
    color: #859098;
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 40px;
    -webkit-transition:0.3s linear;
    -moz-transition:0.3s linear;
    -o-transition:0.3s linear;
    transition:0.3s linear;
}
.footer-menu ul.footer-menu-item li a:hover{color: #3060AC;}
.hm-footer-copyright {
    padding: 40px 0;
}

.hm-footer-copyright p,.hm-footer-copyright p a {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;  
    text-align: center;
}
.footer-social {text-align: right;}
.footer-social .fa-phone:before {
    position: relative;
    top: 2px;
}
.footer-social a ,.footer-social span {
    display: inline-block;
    color: #afb4bf;
    font-size: 14px;
    margin-left: 15px;
    -webkit-transition: .3s; 
    -moz-transition:.3s; 
    -ms-transition:.3s; 
    -o-transition:.3s;
    transition: .3s;
}
.footer-social a {
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: #eef2f6;
    text-align: center;
    border-radius: 50%;
}
.footer-social span {margin-right:15px;margin-left: 0;color: #a5adb3;}
.footer-social span:hover{color: #2D366F;}
.footer-social a:hover {background:#2D366F;color: #fff;}

/*===============================
    Scroll Top
===============================*/
#scroll-Top  .return-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: none;
    width: 40px;
    line-height: 40px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
    background:#2D366F;
	border:1px solid #fff;
	border-radius:50%;
	-webkit-transition: .5s; 
	-moz-transition:.5s; 
	-ms-transition:.5s; 
	-o-transition:.5s;
    transition: .5s;
	z-index: 2;
}
#scroll-Top  .return-to-top:hover {
    background:#3060AC;
	border:1px solid #fff;
}

#scroll-Top  .return-to-top i{
    position:relative;
    bottom:0;

}

#scroll-Top  .return-to-top i{
    position: relative;
    animation-name: example;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-duration:1s;
}
@keyframes example {
    0%   {bottom:0px;}
    100%  {bottom:7px;}
}

.ico-moodle1{
    height: 20px;
    text-decoration: none;
    padding-left: 7px;
}
.ico-moodle1:before{
    content: '';
    background: url('../images/icon/icon_moodle3.png');
    color:blue;
    /*opcion1*/
    filter: invert(97%) sepia(0%) saturate(0%) hue-rotate(161deg) brightness(87%) contrast(98%);
    /*opcion2*/
    /* filter: invert(16%) sepia(14%) saturate(6842%) hue-rotate(214deg) brightness(96%) contrast(87%); */
    background-size: cover;
    position: absolute;
    width: 30px;
    height: 20px;
    margin-left: -20px;
}

.ico-moodle2{
    height: 20px;
    text-decoration: none;
    padding-left: 7px;
}
.ico-moodle2:before{
    content: '';
    background: url('../images/icon/icon_moodle.webp');
    background-size: cover;
    position: absolute;
    width: 30px;
    height: 20px;
    margin-left: -20px;
}

.boton_padre {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 10px;
    padding: 1px;
    background-color: white;
    border-radius: 50px;
    width: 320px;
    box-shadow: 0 0px 10px rgba(71,71,71,.2);
    position: relative;
    transition: .3s linear;
}

.hijo1 {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 20%;
    height: 60px;
    justify-content: center;
    background: #2D366F;
    border-radius: 50%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    position: absolute;
    z-index: 1;
    left: 0;
    border: 5px solid #fff;
    box-shadow: 0 0px 10px rgba(71,71,71,.2);
}

.hijo2 {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 85%;
    height: 60px;
    justify-content: center;
    background: #EAEEF4;
    border-top-left-radius: 10px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    z-index: 0;
    margin-left: 35px;
    margin-right: 0;
}

.boton_padre:hover {
    box-shadow: 0 5px 10px rgba(71,71,71,.4);
}

.boton_padre:hover .hijo1 {
    background:#007EBE;
    border: 5px solid #EAEEF4;
}

.boton_padre:hover .hijo2 h3{ color: #fff!important; font-weight: 1000;}
.boton_padre:hover .hijo2 {
    background:#007EBE;
}

@media screen and (max-width: 1650px) {
    .informacion > .texto {
        /*margin-top:120px !important;*/
    }
}  

@media screen and (max-width: 1500px) {
    .informacion > .texto {
        /* width: 100%; */
        /*margin-top:100px !important;*/
        /* height: 25%; */
    }
}  

@media screen and (max-width: 1420px) {
    .informacion > .avisos1 {
        padding: 10px 0px;
        margin-top: 20px;
    }
}  

@media screen and (max-width: 1340px) {
    .informacion > .texto {
        /*margin-top:90px !important;*/
    }
}  

@media screen and (max-width: 1200px) {
    .informacion {
        height: auto;
    }

    .informacion > .texto > h3 {
        text-align: center;
    }

    .informacion > .logo > img {
        width: 50%;
    }

    .informacion > .texto {
        width: 100%;
        height: 40%;
    }

    .aulas > .row {
        width: 100% !important;
        margin-right: 0px;
        margin-left: 0px;
    }

    .aulas-content1 > ul > li {
        width: 100% !important;
    }

    .aulas-content1 > ul > li > a{
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }
    
    .capacitaciones-content2 {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .capacitaciones-content2 > ul > li {
        display: flex;
        width: 100% !important;
        margin-bottom: 50px;
    }

    .aviso1_1, .aviso1_2, .aviso2_1 {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }
}

@media screen and (max-width: 1170px) {
    .informacion > .texto {
        /*margin-top:70px !important;*/
    }
}  

@media screen and (max-width: 1000px) {
    .informacion {
        margin-left: 20px;
        width: 60%;
        left: 0%;
    }
    
    .informacion > .logo {
        width: 80%;
        height: 25%;
    }
    
    .informacion > .texto {
        margin-top: 20px;
    }
    
    .informacion > .texto > h3 {
        font-size: 25px;
        text-align: left;
    }
    
    .informacion > .texto > p {
        font-size: 14px;
    }
    
    .avisos2 {
        margin-top: 10px;
    }
    
    .informacion > .avisos2 > .aviso2_1 {
        margin-left: 0%;
        margin-top: 0px !important;
        margin-left: 0px !important;
    }

    .imagen2 {
        display: none !important;
    }

    .informacion > .avisos1 {
        padding: 10px 0px;
        margin-top: 60px;
    }

    .caja-texto .left h2 {
        font-size: 16px;
    }

    .caja-texto .left p {
        font-size: 16px;
    }

    .caja-texto .left ul li {
        font-size: 16px;
    }

    .nosotros > .container {
        width: 100%;
    }

    .nosotros > .container > .nosotros-content > .left {
        width: 100%;
    }

    .nosotros > .container > .nosotros-content > .right {
        width: 100%;
    }
}

@media screen and (max-width: 815px) {
    .container-soporte {
        margin-top: 30px;
        height: 100%;
        background: none;
        box-shadow: none;
        flex-direction: column;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        overflow: hidden;
        border-radius: 20px;
    }

    .container-soporte > .left {
        width: 100%;
    }

    .container-soporte > .right {
        width: 100%;
    }

    .botones {
        margin-left: 10px;
        margin-right: 10px;
        display: block;
        height: 100%;
        /*display: flex;
        flex-wrap: wrap;
        align-content: center*/;
    }
}

@media screen and (max-width: 776px) {
    .imagen1 {
        display: none !important;
    }

    .second {
        display: none !important;
    }

    .home > .first {
        width: 100%;
        height: 100%;
    }

	.welcome-hero {
		height: 699px !important;
	}
	
	.informacion {
		margin-left: 0px !important;
		margin-right: 0px !important;
		width: 100% !important;
	}
	
	.informacion > .logo {
		width: 100% !important;
	}

	.informacion > .logo > img {
		width: 265px !important;
        margin-right: 0px !important; 
	}
	
	.informacion > .texto {
		margin-left: 20px !important;
		margin-right: 20px !important;
	}
	
	.informacion > .texto > h3 {
		text-align: center !important;
	}

	.informacion > .texto > p {
		width: 100%;
	}

	.avisos2 {
		display: flex !important;
		align-items: center !important;
		justify-content: center !important;
	}

	.aviso2_1 {
		margin-right: 0%;
	}


}

/*impo*/
@media screen and (max-width: 750px) {
	.welcome-hero {
		height: 699px !important;
	}
	
	.informacion {
		margin-left: 0px !important;
		margin-right: 0px !important;
		width: 100% !important;
	}
	
	.informacion > .logo {
		width: 100% !important;
	}

	.informacion > .logo > img {
		width: 265px !important;
	}
	
	.informacion > .texto {
		margin-left: 20px !important;
		margin-right: 20px !important;
	}
	
	.informacion > .texto > h3 {
		text-align: center !important;
	}

	.informacion > .texto > p {
		width: 100%;
	}

	.avisos2 {
		display: flex !important;
		align-items: center !important;
		justify-content: center !important;
	}

	.aviso2_1 {
		margin-right: 0%;
	}

    .avisos1 {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

}

@media screen and (max-width: 720px) { /*organigrama*/
    .org_columna {
        flex-basis: 80%;
    }
    .org_bajo {
        display: block;
    }
    .org_bajo .org_columna {
        flex-basis: unset;
        position: relative;
        float: left;
        width: 100%;
    }
    .org_bajo .org_fila {
        display: block;
    }
    .org_bajo .org_d2,
    .org_bajo .org_i2 {
        height: auto;
    }
    .org_bajo .org_tar {
        width: 90%;
        left: 5%;
    }
    .org_bajo .org_columna:nth-child(1) .org_d1 {
        border-top: 2px solid #DDDDDD;
        border-left: 2px solid #DDDDDD;
        width: calc(50% + 2px);
        height: calc(50% + 15px);
    }
    .org_bajo .org_columna .org_d1 {
        border-left: 2px solid #DDDDDD;
        border-bottom: 2px solid #DDDDDD;
        border-top: none;
        width: 10%;
        height: calc(50% + 15px);
    }
    .org_bajo .org_columna .org_i1,
    .org_bajo .org_columna .org_i2 {
        border: none;
    }
    .org_bajo .org_d2 {
        border-left: 2px solid #DDDDDD;
        width: 5%;
        top: calc(50% - 10px);
        height: 50%;
        position: absolute;
    }
    .org_bajo .org_columna:last-child .org_d2 {
        border: none;
        width: calc(50% + 2px);
        height: calc(50% + 15px);
    }
    .org_bajo .org_h2 {
        margin-bottom: 0;
    }
    #org_oscuro #org_foto {
        height: 200px;
        width: 130px;
        border: none;
    }
    #org_ventana {
        height: 200px;
        width: 90%;
    }
    #org_abajo {
        position: absolute;
        bottom: 20px;
        width: calc(100% - 130px);
        left: 130px;
    }
    #org_abajo .org_h2 {
        font-size: 16px;
        line-height: 18px;
        padding: 2px 20px 2px 20px;
    }
    #org_abajo .org_h3 {
        font-size: 14px;
        line-height: 16px;
        padding: 2px 20px 2px 20px;
    }
    #org_vermas {
        font-size: 14px;
        padding: 12px;
        margin-left: 20px;
    }
}

@media screen and (max-width: 680px) {
    .caja-texto .left h2 {
        font-size: 14px;
    }

    .caja-texto .left p {
        font-size: 14px;
    }

    .caja-texto .left ul li {
        font-size: 14px;
    }

    .caja-texto .left .button a {
        font-size: 14px;
        padding: 5px 25px 5px 25px !important;
    }
}

@media screen and (max-width: 650px) {
    .wraper {
        width: 330px;
    }

    .welcome-hero {
        height: 586px;
        /* width: 330px; */
        width: 100%;
    }

    .first {
        width: 100% !important;
        border-left: none !important;
        background: linear-gradient(to left, #f3f4ff, #eff2ff) !important;
	}

	.second{
        display: inline-block;
        width: 100% !important;
        border-right: none !important;
        background: linear-gradient(to left, #f3f4ff, #eff2ff) !important;
	}

    .imagen1, .imagen2{
        display: none !important;
	}
    .avisos1, .avisos2{
        display: none !important;
    }
    
    h2 {
        font-size: 35px !important;
    }

    p {
        font-size: 15px !important;
    }

    .aulas, .soporte, .capacitaciones, .seccion_videotutoriales, .footer {
        width: 100%;
        /* width: 330px; */
    }

    .informacion {
        width: 80%;
        height: 100%;
        right: 0px;
        left: 0px;
        padding-left: 10px;
        border-right-width: 10px;
        padding-right: 10px;
        top: 0%;
    }

    .logo, .texto{
        height: 50% !important;
    }

    .avisos1, .avisos2 {
        height: 0% !important;
    }

    .informacion > .texto > p {
        width: 100% !important;
    }

    .informacion > .logo > img {
        margin-top: 150px;
        width: 240px;
        margin-right: 0px;
        margin-left: 0px;
    }

    .informacion > .texto {
        margin-top: 20px !important;
    }


    .informacion > .texto > h3 {
        text-align: center;
        color: #2D366F;
        font-family: Montserrat-ExtraBold;
        font-size: 20px;
        margin-top: 8px !important;
        margin-bottom: 8px !important;
    }

    .informacion > .texto > p {
        width: 80%;
        text-align: center;
        color: #2D366F;
        font-family: Montserrat-Bold;
        font-size: 12px;
        margin-top: 8px !important;
        margin-bottom: 8px !important;
    }

    /****aulas******/

    .aulas > .row {
        width: 100% !important;
        margin-right: 0px;
        margin-left: 0px;
    }

    .aulas-content1 > ul > li {
        width: 100% !important;
    }

    .aulas-content1 > ul > li > a{
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }

    /*****soporte tecnico****/

    .container-soporte > .left {
        display: none !important;
    }

    .container-soporte > .right {
        width: 100% !important;
    }

    .soporte-content2 {
        width: 100% !important;
    }

    .soporte-content2 > ul > li > a {
        width: 100%;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .boton_padre {
        width: 260px;
    }

    .hijo1 {
        width: 24%;
    }

    .hijo2 {
        width: 82%;
    }

    /****capacitaciones****/

    .capacitaciones-content2 {
        margin-top: 0px;
    }

    .capacitaciones-content2 > ul > li {
        width: 100% !important;
        margin-bottom: 50px;
    }

    .capacitaciones-content2 > ul > li > a {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .caja-texto {
        margin-bottom: 20px;
    }

    .caja-texto > .left {
        width: 100% !important;
    }

    .caja-texto > .left > h2 {
        text-align: center;
    }

    .caja-texto > .left > .button {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .caja-texto .right {
        display: none !important;
    }

}

@media screen and (max-width: 600px) {
    .informacion > .logo > img {
        margin-top: 150px;
        width: 240px;
        margin-right: 0px;
    }

    .caja-texto {
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 0px;
        flex-direction: column;
        display: flex;
        align-items: center;
    }
    
    .caja-texto .left {
        width: 80% !important;
    }

    .caja-texto .right {
        width: 80% !important;
        padding-bottom: 80px !important;
        padding-top: 25px !important;
    }
}

@media screen and (max-width: 550px) {
    .atras {
        width: 60%;
    }

    .adelante {
        width: 35%;
        top: 100px !important;
        left: 80px !important;
    }
}

@media screen and (max-width: 390px) {
    .atras {
        width: 100%;
    }

    .adelante {
        width: 60% !important;
        top: 100px !important;
        left: -40px !important;
    }

    .atras img {
        margin-left: 15px;
    }
}

@media screen and (max-width: 350px){
    
    .wraper {
        width: 330px;
    }

    .welcome-hero {
        height: 586px;
        /* width: 330px; */
        width: 100%;
    }

    .first {
        width: 100% !important;
        border-left: none !important;
        background: linear-gradient(to left, #f3f4ff, #eff2ff) !important;
	}

	.second{
        display: inline-block;
        width: 100% !important;
        border-right: none !important;
        background: linear-gradient(to left, #f3f4ff, #eff2ff) !important;
	}

    .imagen1, .imagen2{
        display: none !important;
	}
    .avisos1, .avisos2{
        display: none !important;
    }

    h2 {
        font-size: 25px !important;
    }

    p {
        font-size: 12px !important;
    }

    .aulas, .soporte, .capacitaciones, .seccion_videotutoriales, .footer {
        width: 100%;
        /* width: 330px; */
    }

    .informacion {
        width: 100%;
        height: 100%;
        right: 0px;
        left: 0px;
        padding-left: 10px;
        border-right-width: 10px;
        padding-right: 10px;
        top: 0%;
    }

    .logo, .texto{
        height: 50% !important;
    }

    .avisos1, .avisos2 {
        height: 0% !important;
    }

    .informacion > .texto > p {
        width: 100% !important;
    }

    .informacion > .logo > img {
        margin-top: 150px;
        width: 240px;
        margin-right: 0px;
    }

    .informacion > .texto > h3 {
        text-align: center;
        color: #2D366F;
        font-family: Montserrat-ExtraBold;
        font-size: 20px;
        margin-top: 8px !important;
        margin-bottom: 8px !important;
    }

    .informacion > .texto > p {
        width: 80%;
        text-align: center;
        color: #2D366F;
        font-family: Montserrat-Bold;
        font-size: 12px;
        margin-top: 8px !important;
        margin-bottom: 8px !important;
    }

    /****aulas******/

    .aulas > .row {
        width: 100% !important;
        margin-right: 0px;
        margin-left: 0px;
    }

    .aulas-content1 > ul > li {
        width: 100% !important;
    }

    .aulas-content1 > ul > li > a{
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }

    /*****soporte tecnico****/

    .container-soporte > .left {
        display: none !important;
    }

    .container-soporte > .right {
        width: 100% !important;
    }

    .soporte-content2 {
        width: 100% !important;
    }

    .soporte-content2 > ul > li > a {
        width: 100%;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .boton_padre {
        width: 260px;
    }

    .hijo1 {
        width: 24%;
    }

    .hijo2 {
        width: 82%;
    }

    /****capacitaciones****/

    .capacitaciones-content2 {
        margin-top: 0px;
    }

    .capacitaciones-content2 > ul > li {
        width: 100% !important;
        margin-bottom: 50px;
    }

    .capacitaciones-content2 > ul > li > a {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .caja-texto {
        margin-bottom: 20px;
    }

    .caja-texto > .left > h2 {
        text-align: center;
    }

    .caja-texto > .left > .button {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .caja-texto .right {
        display: none !important;
    }
}

@media screen and (max-width: 230px) {
    .adelante {
        top: 60px !important;
        left: -20px !important;
    }
}

/* POPUS */

.ventanaflotante {
    position: absolute;
    /* width: 700px !important;
    height: 450px !important; */
    z-index: 999;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(224, 227, 235, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

#popupBody {
    width: 46%;
    padding: 2%;
    border-radius: 15px;
    position: absolute;
    background: #17569B;
    position: relative;
    margin: 20% auto;
    transition: all 5s ease-in-out;
    z-index: 1000;
}

#cerrar {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    text-decoration: none;
    color: #F00;
    transition: all 200ms;
}


